In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../input/weather_brazil/conventional_weather_stations_inmet_brazil_1961_2019.csv",sep=';')

In [3]:
df.head(10)

,Estacao,Data,Hora,Precipitacao,TempBulboSeco,TempBulboUmido,TempMaxima,TempMinima,UmidadeRelativa,PressaoAtmEstacao,PressaoAtmMar,DirecaoVento,VelocidadeVento,Insolacao,Nebulosidade,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,Unnamed: 19
0,82024,01/01/1961,0,NaN,NaN,NaN,32.3,NaN,NaN,NaN,NaN,NaN,NaN,4.4,NaN,NaN,26.56,82.50,3.000000,NaN
1,82024,01/01/1961,1200,NaN,26.0,23.9,NaN,22.9,83.0,994.2,NaN,5.0,5.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN
2,82024,01/01/1961,1800,NaN,32.3,27.0,NaN,NaN,65.0,991.6,NaN,5.0,3.0,NaN,9.0,NaN,NaN,NaN,NaN,NaN
3,82024,02/01/1961,0,NaN,25.8,24.6,33.2,NaN,91.0,991.9,NaN,9.0,1.0,10.0,7.0,NaN,28.06,77.50,5.666667,NaN
4,82024,02/01/1961,1200,16.0,26.8,24.0,NaN,23.7,78.0,995.0,NaN,5.0,7.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN
5,82024,02/01/1961,1800,NaN,32.6,27.2,NaN,NaN,64.0,993.4,NaN,5.0,7.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN
6,82024,03/01/1961,0,NaN,28.3,26.2,32.9,NaN,84.0,992.3,NaN,5.0,3.0,7.5,5.0,8.0,28.08,70.75,6.333333,NaN
7,82024,03/01/1961,1200,0.0,26.8,23.9,NaN,23.3,76.0,995.6,NaN,9.0,7.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN
8,82024,03/01/1961,1800,NaN,32.3,25.7,NaN,NaN,57.0,993.9,NaN,5.0,9.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN
9,82024,04/01/1961,0,NaN,28.7,25.3,30.4,NaN,75.0,991.2,NaN,5.0,3.0,5.2,5.0,3.2,27.02,78.75,7.000000,NaN

In [4]:
df['Date']= pd.to_datetime(df['Data']) 

df_20l6=df[(df['Date'] > '01/01/2016') & (df['Date'] <= '31/12/2016')]

In [5]:
df_20l6.head()

,Estacao,Data,Hora,Precipitacao,TempBulboSeco,TempBulboUmido,TempMaxima,TempMinima,UmidadeRelativa,PressaoAtmEstacao,...,DirecaoVento,VelocidadeVento,Insolacao,Nebulosidade,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,Unnamed: 19,Date
44452,82024,02/01/2016,0,NaN,28.7,NaN,28.2,NaN,68.0,NaN,...,5.0,2.05776,6.3,0.00,NaN,27.20,67.0,4.11552,NaN,2016-02-01
44453,82024,02/01/2016,1200,0.0,26.9,NaN,NaN,25.3,76.0,NaN,...,5.0,5.14440,NaN,6.25,NaN,NaN,NaN,NaN,NaN,2016-02-01
44454,82024,03/01/2016,0,NaN,27.8,NaN,28.3,NaN,63.0,NaN,...,9.0,3.08664,2.3,0.00,NaN,27.16,75.0,2.57220,NaN,2016-03-01
44455,82024,03/01/2016,1200,0.0,27.8,NaN,NaN,24.5,72.0,NaN,...,9.0,3.08664,NaN,5.00,NaN,NaN,NaN,NaN,NaN,2016-03-01
44456,82024,04/01/2016,0,NaN,27.6,NaN,29.2,NaN,77.0,NaN,...,9.0,2.05776,3.2,0.00,NaN,28.02,72.0,5.14440,NaN,2016-04-01

In [6]:
#"VITORIA - ES";83648;-20.31;-40.31;36.2;"Estação Operante";"20/11/1923"

In [7]:
df_20l6['Estacao'].dtypes
df_20l6 = df_20l6.astype({'Estacao':'str'})

In [10]:
df_20l6.to_csv("../input/weather_brazil/conventional_weather_brazil_2016.csv",sep="\t")

In [43]:
df_20l6[df_20l6['Estacao']=='83648'].loc[(df_20l6['Date'] >= '2016-04-29')& (df_20l6['Date'] < '2016-04-30')]

,Estacao,Data,Hora,Precipitacao,TempBulboSeco,TempBulboUmido,TempMaxima,TempMinima,UmidadeRelativa,PressaoAtmEstacao,...,DirecaoVento,VelocidadeVento,Insolacao,Nebulosidade,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,Unnamed: 19,Date
2868057,83648,29/04/2016,0,NaN,22.6,20.2,23.9,NaN,78.0,1013.6,...,18.0,NaN,0.0,10.0,4.1,22.5,81.75,NaN,NaN,2016-04-29
2868058,83648,29/04/2016,1200,0.0,22.8,19.8,NaN,21.4,74.0,1013.2,...,18.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,2016-04-29
2868059,83648,29/04/2016,1800,NaN,22.6,20.8,NaN,NaN,83.0,1010.6,...,18.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,2016-04-29

In [45]:
df_20l6[df_20l6['Estacao']=='83648'].loc[(df_20l6['Date'] >= '2016-06-06')& (df_20l6['Date'] < '2016-06-07')]

,Estacao,Data,Hora,Precipitacao,TempBulboSeco,TempBulboUmido,TempMaxima,TempMinima,UmidadeRelativa,PressaoAtmEstacao,...,DirecaoVento,VelocidadeVento,Insolacao,Nebulosidade,Evaporacao Piche,Temp Comp Media,Umidade Relativa Media,Velocidade do Vento Media,Unnamed: 19,Date
2868151,83648,06/06/2016,0,NaN,26.2,23.8,35.0,NaN,79.0,1009.2,...,36.0,NaN,6.8,0.0,5.0,27.16,80.75,NaN,NaN,2016-06-06
2868152,83648,06/06/2016,1200,0.0,26.2,23.8,NaN,24.0,79.0,1009.9,...,36.0,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,2016-06-06
2868153,83648,06/06/2016,1800,NaN,28.8,24.9,NaN,NaN,70.0,1006.3,...,9.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,2016-06-06

In [2]:
#Temperature (in Kelvin), pressure (in
#hectopascal pressure units), humidity (in %), and wind speed (in m/s)
#were aggregated as each day.

In [3]:
df_hosp=pd.read_csv('../input/hosp_data/KaggleV2-May-2016.csv',sep='\t')